.post-type-archive-medlem {
  .archive-wrapper {
    background-color: $green;
  }

  @include media-breakpoint-only(md) {
    @include article(2);
  }

  @include media-breakpoint-only(lg) {
    @include article(3);
  }

  @include media-breakpoint-only(xl) {
    @include article(4);
  }
}
