.single {
  article {
    margin-top: 2.5rem;
    margin-bottom: 0;

    &.has-post-thumbnail {
      margin-top: 6.5rem;

      .row:first-child {
        margin-top: -8rem;
        margin-bottom: 3rem;
      }
    }

    .img-wrap {
      overflow: hidden;
    }

    .thumbnail-title {
      margin-top: $spacer;
    }
  }

  time {
    color: $yellow;
  }
}
