
# Ignore everything but /wordpress/wp-content/themes/linklives
!/wordpress
/wordpress/*
!/wordpress/wp-content
/wordpress/wp-content/*
!/wordpress/wp-content/themes
/wordpress/wp-content/themes/*
!/wordpress/wp-content/themes/linklives/
!/wordpress/wp-content/plugins
