language: php

php:
  - 7.1

notifications:
  email:
    - stumpdenmark@hotmail.com

#stop travis mysql
before_install:
  - sudo service mysql stop

# run tests inside Phalcon container
script:
  - php --version

deploy:
  provider: script
  script: bash trigger-deploy.sh master $TRAVIS_TOKEN
  on:
    branch: master

