@font-face {
  font-family: "notera";
  src:
    url("../fonts/Notera.woff2") format("woff2"),
    url("../fonts/Notera.woff") format("woff");
}

@font-face {
  font-family: "founders";
  font-weight: 200;
  font-style: normal;
  src:
    url("../fonts/FoundersGroteskWeb-Light.woff2") format("woff2"),
    url("../fonts/FoundersGroteskWeb-Light.woff") format("woff");
}

@font-face {
  font-family: "founders";
  font-weight: 200;
  font-style: italic;
  src:
    url("../fonts/FoundersGroteskWeb-LightItalic.woff2") format("woff2"),
    url("../fonts/FoundersGroteskWeb-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "founders";
  font-weight: 400;
  font-style: normal;
  src:
    url("../fonts/FoundersGroteskWeb-Regular.woff2") format("woff2"),
    url("../fonts/FoundersGroteskWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "founders";
  font-weight: 400;
  font-style: italic;
  src:
    url("../fonts/FoundersGroteskWeb-RegularItalic.woff2") format("woff2"),
    url("../fonts/FoundersGroteskWeb-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "founders";
  font-weight: 600;
  font-style: normal;
  src:
    url("../fonts/FoundersGroteskWeb-Medium.woff2") format("woff2"),
    url("../fonts/FoundersGroteskWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: "founders";
  font-weight: 600;
  font-style: italic;
  src:
    url("../fonts/FoundersGroteskWeb-MediumItalic.woff2") format("woff2"),
    url("../fonts/FoundersGroteskWeb-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "heldane";
  font-weight: 600;
  font-style: normal;
  src:
    url("../fonts/HeldaneDisplayWeb-Medium.woff2") format("woff2"),
    url("../fonts/HeldaneDisplayWeb-Medium.woff") format("woff");
}
