h1,
h2,
[class*="display"] {
  font-family: $font-family-serif;
}

.handwritten {
  font-family: $font-family-handwritten;
  font-weight: 400;
}

time {
  margin-bottom: 0.5rem;
  letter-spacing: 0.5px;
}

time,
.light {
  color: lighten($dark, 40);
  font-size: 14px;
  display: inline-block;
  font-weight: $font-weight-normal;

  .text-white & {
    color: rgba(255, 255, 255, 0.5);
  }
}

.link {
  font-weight: $font-weight-normal;
}
