/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$white: #fff;
$dark: #1f2328;
$light: #f4f3f2;
$green: #224944;
$green-light: #557c72;
$blue: #0f2c52;
$blue-light: #295da6;
$yellow: #ca954b;
$yellow-light: #e4c394;
$yellow-dark: #a18052;
$muted: #8f8983;
// $blue:    #007bff !default;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
// $red:     #dc3545 !default;
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
// $green:   #28a745 !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;

$primary:       $blue-light !default;
$secondary:     $dark !default;
$success:       $green-light !default;
// $info:          $cyan !default;
$warning:       $yellow-dark !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;

$border-light: rgba(255, 255, 255, 0.1);
$border-dark: rgba(0, 0, 0, 0.1);

$ease: cubic-bezier(0.165, 0.84, 0.44, 1);

$grid-gutter-width:           48px !default;

$font-family-sans-serif:      "founders", Helvetica, Arial, sans-serif !default;
$font-family-serif:           "heldane", "Times New Roman", Times, serif !default;
$font-family-handwritten:     "notera", Georgia, "Times New Roman", Times, serif !default;

$font-weight-light:           200 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            600 !default;

$font-weight-base:            $font-weight-light;
$headings-font-weight:        $font-weight-bold !default;

$link-color:                  $dark;

$headings-line-height:        1.1 !default;

$display3-size:               3.75rem !default;
$display4-size:               3rem !default;

$display1-weight:             600 !default;
$display2-weight:             600 !default;
$display3-weight:             600 !default;
$display4-weight:             600 !default;

$lead-font-size:              1rem * 1.375 !default;
$lead-font-weight:            400 !default;

$border-radius:               0.125rem !default;
$border-radius-lg:            $border-radius !default;
$border-radius-sm:            $border-radius !default;

$input-btn-padding-y:         0.5rem !default;
$input-btn-padding-x:         1rem !default;
$input-btn-padding-y-sm:      0.375rem !default;
$input-btn-padding-x-sm:      0.75rem !default;
$input-btn-padding-y-lg:      0.75rem !default;
$input-btn-padding-x-lg:      1.25rem !default;

$input-border-color: rgba(0, 0, 0, 0.2);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
