container_commands:
  1host:
    command: "sed -i -e 's/${WORDPRESS_DB_HOST}/'\"$WORDPRESS_DB_HOST\"'/' Dockerfile"
  2user:
    command: "sed -i -e 's/${WORDPRESS_DB_USER}/'\"$WORDPRESS_DB_USER\"'/' Dockerfile"
  3pass:
    command: "sed -i -e 's/${WORDPRESS_DB_PASSWORD}/'\"$WORDPRESS_DB_PASSWORD\"'/' Dockerfile"
  4db_name:
    command: "sed -i -e 's/${WORDPRESS_DB_NAME}/'\"$WORDPRESS_DB_NAME\"'/' Dockerfile"
  5table_prefix:
    command: "sed -i -e 's/${WORDPRESS_TABLE_PREFIX}/'\"$WORDPRESS_TABLE_PREFIX\"'/' Dockerfile"
