option_settings:
  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: '20'
    HealthCheckInterval: '15'
    HealthCheckPath: '/wp-admin/images/wordpress-logo.svg'
    HealthCheckTimeout: '10'
    HealthyThresholdCount: '2'
    UnhealthyThresholdCount: '3'
    Port: '80'
    Protocol: HTTP
    StickinessEnabled: 'true'
    StickinessLBCookieDuration: '43200'