.module-grid {
  margin-top: 5rem;
  margin-bottom: 5rem;

  header {
    margin-bottom: 1.5rem;
  }

  .handwritten {
    margin-top: -8px;
  }

  .type-partner,
  .type-fond,
  .type-associeret_partner {
    .thumbnail {
      margin-bottom: 1rem;

      svg {
        max-width: 140px;
        max-height: 4rem;
        height: 4rem;
        margin-left: 50%;
        transform: translateX(-50%);

        @include media-breakpoint-up(lg) {
          max-width: 60%;
        }
      }
    }

    header {
      text-align: center;
    }
  }
}
