.module-hero {
  margin-bottom: -3rem;
  overflow: hidden;

  .container-fluid {
    padding-bottom: 7rem; //default 4rem + minus margin from .module-hero
  }

  .keyvisual {
    position: relative;
    height: 100vw;
    max-height: 48rem;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: 20;
    margin-top: -4rem;
    margin-bottom: 3rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;

    @include media-breakpoint-up(md) {
      margin-left: -4rem;
      margin-right: -4rem;
      height: 60vw;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      height: 40vw;
    }

    .timeline {
      position: relative;
      height: 1px;
      background: rgba(255, 255, 255, 0.4);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.4) 20%, rgba(255, 255, 255, 0.4) 80%, rgba(255, 255, 255, 0.2) 100%);
    }

    .event {
      position: absolute;
      transform: translate3d(-50%, -50%, 0);
      border-radius: 50%;

      &:first-child {
        left: 0 !important;
      }

      &:last-child {
        right: 0 !important;
      }
    }
  }

  .date {
    position: absolute;
    height: auto;
    max-width: 9rem;
    width: 16vw;

    @include media-breakpoint-up(md) {
      width: 12vw;
    }

    @include media-breakpoint-up(lg) {
      width: 8vw;
    }
  }

  .from-date {
    z-index: 30;
    left: 1.5rem;
    top: 4rem;

    @include media-breakpoint-up(lg) {
      left: -4.75vw;
    }
  }

  .to-date {
    z-index: 30;
    left: calc(84vw - 1.5rem);
    bottom: 4rem;

    @include media-breakpoint-up(md) {
      left: calc(88vw - 10rem);
    }

    @include media-breakpoint-up(lg) {
      left: 82.75%;
    }
  }
}
