.module-contact {
  background-color: $blue;
  color: $white;

  .contact-option {
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 6rem;
      padding-right: 12rem;
    }

    @include media-breakpoint-up(lg) {
      padding-right: 2rem;
    }

    @include media-breakpoint-up(xl) {
      padding-right: 6rem;
    }
  }

  .btn {
    margin-bottom: 3rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      position: absolute;
      bottom: 1.5rem;
    }
  }
}
