.btn {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  letter-spacing: 1.2px;
  font-size: 13px;

  .icon {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin-top: -2px;
    margin-left: 4px;
    transition: transform 600ms $ease;
  }

  &:hover {
    .icon.right {
      transform: translate3d(8px, 0, 0);
    }
  }

  &.btn-icon {
    border-radius: 50%;
    padding: 0.25rem;
    font-size: 0;

    .icon {
      margin: 0;
    }
  }
}
