// Styling of 3rd party cookie declaration page
.template-cookie-data {
  .CookieDeclarationTypeHeader {
    @extend .h4;
  }

  .CookieDeclarationType {
    border: 0;
    padding: 0;
    margin-top: 3.5rem;
  }

  .CookieDeclarationTable {
    font-size: 17px;
  }

  .CookieDeclarationTableHeader {
    font-size: 1rem;
  }

  .CookieDeclarationTableHeader,
  .CookieDeclarationTableCell {
    border-bottom: 1px solid $border-dark;
    padding: 8px 8px 8px 0;
  }

  tbody tr:last-child .CookieDeclarationTableCell {
    border-bottom: 0;
  }
}

// Styling of 3rd party cookie declaration page and cookie banner
#CybotCookiebotDialog {
  background-color: darken($blue, 5) !important;
  box-shadow: none !important;
  padding: 1.5rem !important;
  width: 100% !important;
  transform: none !important;
  top: auto !important;
  bottom: 0 !important;
  box-sizing: border-box !important;

  * {
    box-sizing: border-box !important;
  }

  #CybotCookiebotDialogBodyContent {
    padding: 0 !important;
  }

  #CybotCookiebotDialogBodyContentTitle,
  #CybotCookiebotDialogBodyContentText {
    text-align: center;
  }

  #CybotCookiebotDialogBodyContentTitle {
    margin: 0 0 0.75rem 0;
  }

  #CybotCookiebotDialogPoweredbyLink {
    display: none;
  }

  #CybotCookiebotDialogBodyContentTitle,
  #CybotCookiebotDialogBodyContentText,
  .CybotCookiebotDialogBodyLevelButtonWrapper label {
    color: $white !important;
  }

  #CybotCookiebotDialogDetailBodyContent,
  #CybotCookiebotDialogDetailBodyContentTabsOverview,
  #CybotCookiebotDialogDetailBodyContentTabsAbout,
  #CybotCookiebotDialogBodyLevelDetailsWrapper {
    border: none;
  }

  #CybotCookiebotDialogDetail {
    background: none !important;

    #CybotCookiebotDialogDetailBodyContentCookieContainerTypeDetails,
    #CybotCookiebotDialogDetailBodyContentTextAbout {
      height: 170px;
      max-height: 170px;
      padding: 1rem 1rem 1.5rem 1rem;
    }
  }

  #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelectionWrapper {
    float: none;
    text-align: center;
  }

  #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection {
    margin-left: 0 !important;
  }

  #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection,
  #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
    background-color: $blue-light !important;
    border: none !important;
    width: auto !important;
    height: 32px !important;
    padding: 9px 12px !important;
    border-radius: 2px !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;

    &:hover {
      background-color: darken($blue-light, 5) !important;
    }
  }

  #CybotCookiebotDialogBodyLevelButtonsSelectPane {
    border: none !important;
    border-top: 1px solid $border-light !important;
    padding-top: 0.75rem !important;
  }

  #CybotCookiebotDialogBodyLevelDetailsWrapper {
    display: block !important;
    border: none !important;
    border-top: 1px solid $border-light !important;
    padding-top: 0 !important;
    background: none !important;
  }

  #CybotCookiebotDialogBodyLevelDetailsButton {
    display: inline-block !important;
    height: 10px !important;
    padding: 1.25rem 1rem 0.75rem !important;
    background-position: center !important;
    margin: 0 !important;
    border-right: 0 !important;
  }
}
