.infobox {
  background-color: $blue;
  color: $white;
  padding: $spacer*2;
  margin-bottom: 3rem;

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  a {
    color: $white !important;

    &:hover {
      opacity: 0.6;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-left: 3rem;
    margin-right: -192px;
    float: right;
    width: 256px;
  }

  @media print {
    background-color: white;
    color: #000 !important;
    border: 1px solid #000;
    padding: $spacer;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    p a {
      color: $blue-light !important;
    }
  }
}
