.module.nav-article {
  background-color: #e1dedb;

  .link-wrap {
    flex: 1 0 0;
    padding: 1.5rem;
    transition: background-color 300ms $ease;

    @include media-breakpoint-up(lg) {
      padding: 2rem;
    }

    @include media-breakpoint-up(xl) {
      padding: 2rem 4rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $border-dark;

      @include media-breakpoint-up(lg) {
        border-bottom: none;
        border-right: 1px solid $border-dark;
      }
    }
  }

  a.link-wrap:hover {
    background-color: #bfaf9e;
  }
}
