.module.page-header {
  h1 {
    margin: 0;
    margin-right: 1rem;
  }

  .lead {
    font-weight: $font-weight-light;
    margin-top: 1rem;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }

  .btn-icon {
    display: inline-block;
  }
}
