.tags-filter {
  background-color: $white;
  height: 0;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1050;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition: height 400ms ease;

  &.active {
    height: 100vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .container-fluid {
    max-width: 1808px; // 1680px + 8rem
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 10rem;
    padding-bottom: 4rem;

    @include media-breakpoint-up(md) {
      padding-top: 10rem;
      padding-left: 8rem;
      padding-right: 8rem;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 11rem;
    }
  }

  h1 {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;

    &::after {
      content: "";
      display: block;
      position: relative;
      background-color: $dark;
      height: 2px;
      width: 0;
      transform: translateY(-5px);
      transition: width 400ms $ease;
    }
  }

  a:hover {
    text-decoration: none;

    h1::after {
      width: 101%;
    }
  }
}
